<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.board.userMapper">

<select id="login" parameterType="java.util.HashMap" resultType="com.spring.board.dto.UserDto">
		select *
		from board.UserTable
		where u_id = #{u_id}
		and u_pwd = #{u_pwd}
</select>

</mapper>